<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="controller.ControllerLogin">
		<property name="authService" ref="authService" />
		<property name="memberRegisterService" ref="memberRegSvc" />
	</bean> 
	<bean class="controller.ControllerMember">
		<property name="daoMember" ref="daoMember" />
		<property name="authService" ref="authService" />
		<property name="changePasswordService" ref="changePwdSvc" />
		<property name="memberRegisterService" ref="memberRegSvc" />
	</bean>
	<bean class="controller.ControllerBoard">
		<property name="daoBoard" ref="daoBoard" />
	</bean>
</beans>