<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://192.168.0.45:3306/db7?characterEncoding=utf8" />
		<property name="user" value="db7" />
		<property name="password" value="1234" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="daoMember" class="dao.DaoMember">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="daoBoard" class="dao.DaoBoard">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="changePwdSvc" class="member.ChangePasswordService">
		<constructor-arg ref="daoMember" />
	</bean>
	<bean id="authService" class="login.AuthService">
		<property name="daoMember" ref="daoMember" />
	</bean>
	<bean id="memberRegSvc" class="member.MemberRegisterService">
		<constructor-arg ref="daoMember" /> 
	</bean>

</beans>