@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import
	url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

#header {
	height: 70px;
	background-color: black;
	color: white;
	    background: linear-gradient( to bottom, #7d4b3e, #caa0a0 );
}

#logo {
	float: left;
	width: 50%;
	font-size: 42px;
	font-weight: bold;
}

#logo span {
	margin-left: 150px;
}

#login {
	float: left;
	width: 50%;
	position: relative;
	text-align: right;
	top: 50px;
	margin-top: -35px;
}

#login form {
	margin-right: 100px;
}

#mainLeft {
	

	
	
}



#leftTitle span {
	display: block;
	margin-left: 100px;
	width: 450px;
}

#leftImg {
	
	
}

#mainRight {
	

	height:80%;
	opacity: 0.7;
	background-image: url('images/main.png');
	background-color: #e3f0f1;
	
}

#rightWrap {
	padding-top: 60px;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	padding-left: 57%;
}
.btn{
	 position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
	
}
.form_style {
 	min-height: 40px;
    padding: 10px;
    font-size: 16px;
    background-clip: padding-box;
    border-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}


.txt {
	width: 300px;
	height: 40px;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 7px;
	padding-left: 7px;
}

/* 버튼 스타일 시작 */
.btnRect {
	margin-top: 10px;
	display: inline-block;
	width: 130px;
	height: 40px;
	background-color: #003380;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	font-family: 'Nanum Gothic Coding', monospace;
}

.btnRect:hover {
	color: #6699FF;
}

.btnRound {
	margin: 0px;
	display: inline-block;
	width: 120px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	background-color: #99CCFF;
	border: 1px solid #6B8FB2;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #2E3D4C;
	line-height: 20px;
	cursor: pointer;
}

.btnRound:hover {
	color: #fff;
	background-color: blue;
}

.btnRound:active {
	color: #fff;
	background-color: red;
}
/* 버튼 스타일 끝 */
#footer {
	text-align: center;
	font-size: 15px;
	background: linear-gradient( to bottom, #caa0a0, #7d4b3e );
	height:20%
	position:fixed;
}

#box {
	background-color: #E0F0FF;
	
}

#boxTable {
	display: table;
	width: 700px;
	height: 430px;
	margin: 0 auto;
	padding: 100px 0px;
}
#line {
	width: 100%;
	border-top: 1px solid #c0c0c0;
	margin-top: 20px;
	margin-bottom: 25px;
}
#boxCell {
	display: table-cell;
	vertical-align: top;
	width: 700px;
	height: 200px;
	background-color: #FFF;
	border: 1px solid #c2c2c2;
	border-radius: 7px;
	padding: 20px;
}
#sTitle{
	font-family: 30px;
	font-weight: bold;
}

#sNotice {
	padding: 5px;
	width: 98%; height: 90px;
	border: 1px solid red;
	background-color: #fee;
}
#loginFrm{
	text-align: center;
}